<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>

    <p>Following Student account has been created.</p>
    <p>Name: <%= @student&.name %></p>
    <p>Email: <%= @student.email %></p>
    <p>Password: <%= @student.password %></p>
    Kindly Verify it.

  </body>
</html>
